HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

##ignore log files
*.log

##ignore all public and private key files and not the test ones. It is ok to commit the test keys for testing purposes for CI to work
*.pem

# Except the test JWT keys. Not from project root but from the test-helper module. The test keys are used for testing purposes and are safe to commit.
!src/main/resources/cert/private-test.pem
!src/main/resources/cert/public-test.pem
